:root {
	--color-dark-blue: #0E0093FF;
	--color-light-blue: #4800FFFF;
	--color-light-purple: #982DD1E2;
	--color-dark-purple: #800DBEFF;
	--color-white: #fff;
	--color-dark-white: #eee;
	--color-ash: #ccc;
	--color-black: rgb(0, 0, 0);
	--color-light-black: rgba(0, 0, 0, 0.75);
	--color-dark-grey: #808080FF;
	--color-light-grey: #AFAFAFB4;
	--color-box-shadow: rgba(0, 0, 0, 0.2);
}


html, body {
	margin: 0;
	padding: 0;
	padding-top: 30px;
	font-size: 10px;
}

body {
	font-size: 16px;
	background: #fff;
	color: #FFFFFFFF;
	overflow-x: hidden;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 12px;
	}
}

* {
	box-sizing: border-box;
	font-size: inherit;
}

*, 
*::before,
*::after {
	content: " ";
	clear: both;
}

.text-center {
	text-align: center;
}

.header {
	min-width: 100%;
	height: 3rem;
	background-color: #231BE3FF;
	box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.4);
	font-size: 1.5rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.sidenav-toggle {
	display: inline-block;
	float: left;
	position: relative;
	top: 5px;
	left: 5px;
	padding: .5rem;
	cursor: pointer;
}

.app-name {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: .3rem;
	text-transform: uppercase;
	color: var(--color-ash);
	position: relative;
	top: -2rem;
}

.owner-avatar {
	float: right;
	position: absolute;
	top: 2px;
	right: 0;
}

.avater {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


.sidenav {
	width: 30vw;
	min-width: 200px;
	max-width: 300px;
	height: 100vh;
	background: var(--color-light-grey);
	position: absolute;
	top: 0;
	left: 0;
	will-change: transform;
	transform: translateX(-100%);
	transition: all .3s ease-in;
}

.sidenav.open {
	transform: none;
}


.sidenav::after {
	content: "";
	display: block;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .3s ease-in;
}

.sidenav.open::after {
	content: "";
	display: block;
	width: 100vw;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: -1;
}

.sidenav-header {
	width: 100%;
	height: 30%;
	background-image: linear-gradient(to right bottom, #EF0F13FF,#BF1739FF);
}


/*Styling for the default template*/

.contacts {
	min-height: 200px;
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 1rem .5rem;
	margin: 1rem auto;
	align-content: center;
	align-items: center;
	border: none;
	border-radius: .5rem;
	box-shadow: 0 .3rem 1rem var(--color-light-grey);
	display: block;
	transition: all .3s ease-in;
}

.contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	width: 100%;
	max-height: 120px;
	padding: .5rem;
	position: relative;
}

.contact:not(:last-child) {
	margin-bottom: 1rem;
}

.contact:not(:last-child)::after {
	content: "";
	display: block;
	width: .1rem;
	height: 6rem;
	background-color: var(--color-ash);
	position: absolute;
	left: 4rem;
	top: 5rem;
	z-index: -1;
}


.contact-image-block {
	display: inline-block;
	width: 20%;
}


.contact-avatar {
	flex: 2;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	align-self: flex-end;
}

.contact-details {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.contact-name {
	font-size: 3rem;
	font-weight: 600;
	color: var(--color-black);
}

.contact-number {
	font-size: 2rem;
	color: var(--color-dark-grey);
	align-self: center;
}

.contact-btn {
	flex: .5;
	padding: .5rem 1rem;
	margin: .5rem;
	border: none;
	border-radius: .3rem;
	background-color: #7F4AB4FF;
	color: var(--color-white);
	box-shadow: 0 .2rem 2rem var(--color-dark-grey);
	cursor: pointer;
	transition: all .2s;
}

.contact-btn:hover {
	transform: translateY(-.2rem);
}

.contact-btn:active {
	transform: translateY(.1rem);
	box-shadow: 0 .1rem .5rem var(--color-dark-grey);
}

.add-contact {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	padding: .5rem;
	border-radius: 50%;
	border: none;
	background-color: var(--color-dark-purple);
	background-image: url(../images/add-contact.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: all .3s ease-in;
	outline: none;
	z-index: 2;
}

.add-contact:hover {
	background-color: var(--color-light-purple);
}

/*Styling for view Template*/

.contact-view {
	width:100vw;
	height: 100vh;
	background-color: var(--color-dark-white);
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	display: none;
}

.back-btn {
	width: 50px;
	height: 50px;
	position: absolute;
	top: .5rem;
	left: .5rem;
	padding: .5rem;
	border-radius: 50%;
	border: none;
	background-color: var(--color-dark-white);
	background-image: url(../images/left-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	cursor: pointer;
}

.details-header {
	width: 100%;
	height: 40%;
	/*max-height: 30%;*/
	background-image: url('../images/hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}



.details-header .contact-name {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1rem;
	width: 100%;
	background-color: var(--color-light-black);
	color: var(--color-white);
}

.action-buttons {
	position: absolute;
	top: .2rem;
	right: .2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: .2rem;
}

.edit-btn {
	width: 50px;
	height: 50px;
	padding: .5rem;
	border-radius: 50%;
	border: none;
	background-color: var(--color-dark-white);
	background-image: url(../images/pencil-edit-button.png);
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	margin: .3rem .5rem .3rem .3rem;
	cursor: pointer;
}

.delete-btn {
	width: 50px;
	height: 50px;
	margin: .3rem;
	padding: .5rem;
	border-radius: 50%;
	border: none;
	background-color: var(--color-dark-white);
	background-image: url(../images/trash.png);
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	cursor: pointer;
}

.details-content {
	width: 100vw;
	padding: .1rem .1rem;
	background-color: var(--color-dark-white);
}

@media screen and (min-width: 768px) {
	.details-content {
		width: 70%;
		margin: 0 auto;
	}
}

ul.details-list {
	padding: 2rem;
	padding-start: 0;
	padding-end: 0;
}

.detail-item {
	color: var(--color-black);
	background: var(--color-white);
	padding: 1rem;
	padding-end: 0;
	padding-start: .5rem;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.detail-item:not(:last-child) {
	margin-bottom: 1rem;
}

.detail-title {
	flex: 1;
	font-size: 1rem;
	color: var(--color-dark-grey);
}

.detail-name {
	flex: 2;
	align-self: flex-end;
	font-size: 1.5rem;
	letter-spacing: .2px;
	text-align: right;
}


/*Styling for new contact template*/

.new-contact {
	width: 100vw;
	height: 100vh;
	padding: 0;
	display: none;
	background-color: var(--color-dark-white);
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
}

.new-contact-body {
	padding: 2rem;
}

.new-contact-text {
	margin: 0 0 1.5rem 0;
	display: inline-block;
	font-size: 2rem;
	color: var(--color-light-grey);
}

.contact-form-block {
	width: 100%;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
}

input {
	margin: .5rem 0;
	padding: .5rem 1rem;
	text-indent: .2rem;
	border: 1px solid var(--color-ash);
	outline-color: var(--color-ash);
}

.active-template {
	top: 0;
	display: block;
	animation: moveIn .3s ease-in;
	animation-fill-mode: backwards;
}

@keyframes moveIn {
	0% {
		opacity: 0;
		top: 90%;
	}

	50% {
		opacity: .5;
		top: 50%;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

